html {
    --color-main: #7066e0;
    --color-white: #FFFFFF;
}

body {
    background-image: url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-container {
    width: 400px;
    height: 600px;
    background-color: var(--color-white);
    color: var(--color-main);
    border-radius: 20px
}

/* 모달창이 만들어 지면 뒤에 배경 흐리게하기 */
body.swal2-shown>[aria-hidden='true'] {
    transition: 0.1s filter;
    filter: blur(3px);
}

/* 할일이 완료된 todo에는 밑줄 긋기 */
.done {
    text-decoration: line-through;
}

/* todoHeader */
#todoHeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(228, 228, 228);
    height: 80px;
}

#todoHeaderContainer .days {
    font-family: 'Roboto', sans-serif;
    ;
    font-size: 28px;
}

#todoHeaderContainer .date {
    color: #9696b3;
    font-size: 20px;
}

/* todoMain */
#todoMainContainer {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    height: 450px;
    border-bottom: 1px solid rgb(228, 228, 228);
}

#todoItems {
    display: flex;
    flex-direction: column;
}

#todoItems li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    height: 30px;
    position: relative; /* hover 효과 적용을 위해 position을 추가 */
}

.checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-top: 5px;
}

.checkbox:checked {
    background-color: #7066e0;
    border-radius: 5px; /* 체크된 상태의 백그라운드에도 둥근 모서리 적용 */
}

#todoItems li .first-item-container {
    align-items: center;
    display: flex;
    gap: 10px;
}

.todo-item:hover button {
    opacity: 1;
    pointer-events: auto; /* hover 시 버튼 클릭 가능하도록 변경 */
}

.todo-item button {
    cursor: pointer;
    transition: opacity 0.2s;
    opacity: 0;
    margin-left: 10px; /* 수정과 삭제 버튼 사이에 간격 추가 */
}
/* 버튼 스타일 추가 */

#todoItems li .item-container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #9696b3;
    padding: 5px;
    margin: 0 5px;
    opacity: 0;
    transition: 0.3s;
}

#todoItems li .item-container button:hover {
    color: #4b42c7;
}

#todoItems li:hover .item-container button {
    opacity: 1;
}
/* todoFooter */
.todoFooterContainer {
    display: flex;
    justify-content: space-between;
    
    margin: 20px;
    font-size: 18px;
}
.addTodoButton{ 
    width:100px;
    height:50px;
    cursor: pointer;
    transition: .2s;
    color:var(--color-main)
}
.addTodoButton:hover{
    
    color:#9696b3
}


/* 수정 */